grid {
    display: grid;
    grid-template-areas:
        "a a"
        "b c";
    max-width: 70rem;
    width: 100%;
    padding: 0.25rem;
    gap: 1rem;
    justify-content: stretch;
    align-items: stretch;
    background: rgba(255, 0, 0, 0);
    box-sizing: border-box;
    margin: 15rem auto;
    border-radius: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

element {
    position: relative;
    text-align: center;
    width: 100%;
    background: rgb(255, 255, 255);
    border-width: 2px 0 2px 0;
    border-color: crimson;
    border-style: solid;
    border-radius: 0.75rem;
}

.heading-area {
    grid-area: a;
    font-family: 'Norwester';
    padding: 24px 0 24px 0;
    font-size: 60px;
    color: black;
}

.text-area {
    grid-area: b;
    font-family: 'SourceHanSerifCN';
    font-size: 20px;
    text-align: justify;
    text-indent: 2rem;
    color: black;
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;
}

.social-area {
    box-sizing: border-box;
}

hr {
    height: 2px;
    background: linear-gradient(to right, rgba(220, 20, 60, 0), crimson, rgba(220, 20, 60, 0));
    width: 90%;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

sm-grid_1 {
    display: grid;
    grid-template-areas:
        "a" "b";
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 1rem;

    div {
        a {
            display: block;
            border-width: 2px 0 2px 0;
            border-color: crimson;
            border-style: solid;
            border-radius: 0.75rem;
        }
    }
}

sm-grid_2 {
    display: grid;
    grid-template-areas:
        "a b" "c d";
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 1rem;

    div {
        a {
            display: block;
            border-width: 2px 0 2px 0;
            border-color: crimson;
            border-style: solid;
            border-radius: 0.75rem;
        }
    }
}

.padding-auto {
    padding-left: 5rem;
    padding-right: 5rem;
}

.smg-a {
    grid-area: a;

    :hover {
        background-color: crimson;
        border-color: black;
        border-radius: 0.75rem;
    }
}

.smg-b {
    grid-area: b;

    :hover {
        background-color: crimson;
        border-color: black;
        border-radius: 0.75rem;
    }
}

.smg-c {
    grid-area: c;

    :hover {
        background-color: crimson;
        border-color: black;
        border-radius: 0.75rem;
    }
}

.smg-d {
    grid-area: d;

    :hover {
        background-color: crimson;
        border-color: black;
        border-radius: 0.75rem;
    }
}

.social-media {
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    height: 100%;
}

.PS {
    font-size: 50%;
    margin: 0;
    margin-bottom: 25px;
}