.div-cog-TL {
    position: fixed;
    top: -110rem;
    left: -75rem;
    z-index: -100;
    width: 3500px;
}

.img-cog-TL {
    position: relative;
    width: 100%;
    opacity: 0.02;
    animation: rotate-TL 90s linear infinite;
}

@keyframes rotate-TL {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
