header {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
}

.HF-height-C {
    height: 4rem;
}

.HF-height-RL {
    height: 25rem;
    z-index: 6 !important;
}

.HF-crimson {
    background-color: crimson !important;
    height: 5rem !important;
    z-index: 5 !important;
}

.HF-thin {
    height: 0.5rem !important;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.header-L {
    transform: skewY(-80deg);
    transform-origin: top left;
}

.header-R {
    transform: skewY(80deg);
    transform-origin: top right;
}

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 15;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    margin-top: auto;

}

.footer-L {
    transform: skewY(80deg);
    transform-origin: bottom left;
}

.footer-R {
    transform: skewY(-80deg);
    transform-origin: bottom right;
}

.Vertical_Stripes {
    z-index: 15;
    position: fixed;
    top: 0;
    background-color: black;
    height: 100%;
    opacity: 1;
}

.Vertical_Strip_L {
    left: 0;
    width: 0.5rem;
}

.Vertical_Strip_R {
    right: 0;
    width: 0.5rem;
}
