@use "./partials/variables.scss" as *;

.cursor {
    position: fixed;
    width: $cursor;
    height: $cursor;
    transform: translate(-50%, -50%);
    background: rgba(220, 20, 60, 0.66);
    border-radius: 50%;
    border: 1px solid black;
    pointer-events: none;
    transition: top 0.06s, left 0.06s, height 0.5s, width 0.5s;
    z-index: 10000;
}

.hover,
.hover-gallery {
    width: $cursor-b;
    height: $cursor-b;
    background: rgb(220, 20, 60) !important;
    mix-blend-mode: difference;
    border: 0px !important;
}

.hover-gallery {
    width: $cursor-b*1.8;
    height: $cursor-b*1.8;
}

@keyframes click {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}