@use "./variables.scss" as *;
@use "./foundation.scss";
@use "./animation.scss";
@use "./navigation.scss";
@use "./decorations.scss";
@use "./mobile.scss";

gallery {
    margin-top: auto;
    display: flex;
    position: relative;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    padding: 3rem 4rem 15rem 4rem;
    align-items: center;
    box-sizing: border-box;

    grid-gallery {
        position: relative;
        padding: 2rem;
        display: grid;
        margin: auto;
        width: 100%;
        gap: 2rem;
        justify-content: center;
        grid-auto-columns: 200px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        background: rgb(255, 255, 255);
        border-width: 3px 0 3px 0;
        border-color: $main_colour;
        border-style: solid;
        border-radius: 0.75rem;
        box-sizing: border-box;

        a {
            display: flex;
            position: relative;
            align-self: center;
            align-items: center;

            :hover {
                transition: opacity 0.75s;
                opacity: 0.9;
            }

            img {
                display: flex;
                width: 100%;
                border-style: solid;
                border-width: 2px 0 2px 0;
                border-color: $main_colour;
                border-radius: 2rem;
                transition: $transition;


            }
        }
    }
}