html {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: "Norwester";
  src: url(../fonts/norwester/norwester.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Railway";
  src: url(../fonts/railway/Railway.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SourceHanSerifCN";
  src: url(../fonts/hanserif/SourceHanSerifCN-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
.div-gear {
  position: fixed;
  top: -110rem;
  left: -75rem;
  z-index: -100;
  width: 3500px;
}

.img-gear {
  position: relative;
  width: 100%;
  opacity: 0.02;
  animation: rotate-TL 90s linear infinite;
}

@keyframes rotate-TL {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body:before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../images/grain.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -50;
}
body.no-scroll {
  overflow-y: hidden;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
nav {
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  display: flex;
  align-items: center;
  transition: 500ms ease-in-out;
}

.nav-left {
  margin-right: auto;
  padding-left: 5rem;
}
.nav-left .title {
  margin: auto;
  text-align: center;
  transition: 175ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav-left .motto {
  margin: auto;
  font-family: "Railway";
  font-size: 12px;
  text-align: center;
  transition: 175ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.navigation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Norwester";
  font-size: 36px;
  color: white;
}
.navigation-wrapper .logo-button {
  display: flex;
  margin-right: 0.8rem;
}
.navigation-wrapper .logo-button :hover {
  filter: brightness(0.8);
}
.navigation-wrapper .logo {
  display: block;
  max-width: 5.5rem;
  width: 100%;
  transition: 175ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.navigation-wrapper .navigation-buttons-wrapper {
  position: relative;
  display: inline-grid;
  grid-template-areas: "a a";
  margin-right: 2.65rem;
}
.navigation-wrapper .navigation-buttons-wrapper a {
  display: flex;
  justify-content: center;
  position: relative;
  color: inherit;
  text-decoration: none;
  min-width: 15rem;
  width: 15vw;
  transition: 100ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.navigation-wrapper .navigation-buttons-wrapper a:hover {
  background-color: white;
  color: crimson;
}

.text-underline {
  text-decoration: underline !important;
}

.emoticon {
  font-size: 36px;
}

footer {
  height: 48px;
  margin-top: 0;
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  display: flex;
}

dec {
  position: absolute;
  width: 0.75rem;
  background-color: black;
  z-index: 1000;
}

.dec-left_1 {
  left: 1.9rem;
}

.dec-left_2 {
  left: 0.4rem;
  width: 1.25rem;
}

.dec-right_1 {
  right: 1.9rem;
}

.dec-right_2 {
  right: 0.4rem;
  width: 1.25rem;
}

.dec-n {
  top: 0;
  height: 7.5rem;
}

.dec-f {
  bottom: 0;
  height: 3.3rem !important;
}

.dec-v {
  top: 115px;
  height: 30rem !important;
  z-index: -1000;
  opacity: 0.1;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)) !important;
}

.dec-b {
  bottom: 3rem;
  height: 10rem !important;
  z-index: -1000;
  opacity: 0.1;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)) !important;
}

@media only screen and (min-width: 1000px) {
  * {
    cursor: none;
  }
}
@media only screen and (max-width: 1000px) {
  .logo {
    max-width: 0 !important;
  }
  .cursor {
    border: 0px !important;
    z-index: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }
  .navigation-wrapper .navigation-buttons-wrapper {
    width: 100% !important;
    margin-left: 2.65rem;
  }
  .navigation-wrapper .navigation-buttons-wrapper a {
    width: 100% !important;
  }
  .title {
    font-size: 0px !important;
  }
  .motto {
    font-size: 0px !important;
  }
  .nav-left {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
  .nav-right {
    width: 100%;
  }
  .text-area {
    font-size: 22px !important;
  }
  .grid {
    gap: 2rem !important;
    grid-template-areas: "a" "b" "c" !important;
  }
  html {
    scrollbar-width: none !important;
    scrollbar-color: transparent transparent !important;
  }
  .sm-grid_1,
  .sm-grid_2 {
    gap: 2rem !important;
  }
  .sm-grid_1 {
    grid-template-areas: "a b" !important;
  }
  hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
}
gallery {
  margin-top: auto;
  display: flex;
  position: relative;
  margin: auto;
  max-width: 80rem;
  width: 100%;
  padding: 3rem 4rem 15rem 4rem;
  align-items: center;
  box-sizing: border-box;
  transition: 175ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
gallery grid-gallery {
  position: relative;
  padding: 2rem;
  display: grid;
  margin: auto;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  grid-auto-columns: 200px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  background: rgba(255, 255, 255, 0.5);
  border-width: 3px 0 3px 0;
  border-color: crimson;
  border-style: solid;
  border-radius: 0.75rem;
  box-sizing: border-box;
}
gallery grid-gallery :hover {
  border-top-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
gallery grid-gallery a {
  display: flex;
  align-self: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  transition: 175ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
gallery grid-gallery a img {
  width: 100%;
  transition: filter 0.5s, transform 0.5s;
  z-index: 2;
}
gallery grid-gallery a :hover {
  transform: scale(1.04);
  transition: 175ms cubic-bezier(0.65, 0.05, 0.36, 1);
}