@use "./partials/variables.scss" as *;
@use "./partials/foundation.scss";
@use "./partials/animation.scss";
@use "./partials/navigation.scss";
@use "./partials/decorations.scss";
@use "./partials/mobile.scss";

gallery {
    margin-top: auto;
    display: flex;
    position: relative;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    padding: 3rem 4rem 15rem 4rem;
    align-items: center;
    box-sizing: border-box;
    transition: $transition;

    grid-gallery {
        position: relative;
        padding: 2rem;
        display: grid;
        margin: auto;
        width: 100%;
        gap: 2rem;
        justify-content: center;
        grid-auto-columns: 200px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        background: rgba(255, 255, 255, 0.5);
        border-width: 3px 0 3px 0;
        border-color: $main_colour;
        border-style: solid;
        border-radius: 0.75rem;
        box-sizing: border-box;

        :hover {
            border-top-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }

        a {
            display: flex;
            align-self: center;
            align-items: center;
            overflow: hidden;
            border-top-left-radius: 6rem;
            border-bottom-right-radius: 6rem;
            transition: $transition;

            img {
                width: 100%;
                $transition-img: 0.5s;
                transition: filter $transition-img,
                    transform $transition-img;
                z-index: 2
            }

            :hover {
                transform: scale(1.04);
                transition: $transition;
            }
        }
    }
}