@media only screen and (max-width: 1200px) {
    .logo-text {
        font-family: LaborUnion !important;
        font-size: 0px !important;
        color: white !important;
    }

    .navigation-text {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-size: 36px !important;
    }

    .gallery-wrapper {
        grid-template: 400px/ 400px 400px !important;
        gap: 2vw !important;
    }

    .image-gallery {
        height: 400px !important;
        width: 400px !important;
        opacity: 1 !important;
    }

    .image-wrapper {
        border-radius: 0% !important;
    }

    .information-grid {
        grid-template: auto/auto !important;
    }

    .information-text-wrapper {
        padding-left:100px;
        padding-right:100px;
    }

    .social-links-padding-wrapper {
        padding-left:100px;
        padding-right:100px;
    }
}
