@media only screen and (max-width: 1300px) {
    .logo-text {
        font-family: LaborUnion !important;
        font-size: 0px !important;
        color: white !important;
    }

    .navigation-text {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-size: 36px !important;
    }

    .gallery-wrapper {
        grid-template: 400px/ 400px 400px !important;
        gap: 4vw !important;
    }

    .information-grid {
        grid-template: auto/auto !important;
    }

    .information-text-wrapper {
        padding-left: 150px;
        padding-right: 150px;
    }

    .social-links-padding-wrapper {
        padding-left: 150px;
        padding-right: 150px;
    }

    .information-text-wrapper {
    }

    .s-l-padding-wrapper {
        padding-bottom: 150px;
    }

    .s-l-wrapper-wrapper {
        padding-top: 175px !important;
    }

    .icon-navigation-wrapper {
        display: inline-flex;
        flex-wrap: wrap;
        padding-left: 0vw !important;
    }

    .icon-div {
        padding-left: 0vw !important;
    }

    .icon-navigation {
        width: 0px !important;
        height: 0px !important;
        padding: 0px !important;
    }

    .gallery-wrapper {
        padding: 0 !important;
    }

    .navigation-text {
        font-size: 36px !important;
    }

    .header-wrapper {
        padding: 1.5vw 5vw 1.5vw 5vw !important;
    }

    .gallery-wrapper-wrapper {
        padding-top: 175px !important;
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
}

@media only screen and (max-width: 1000px) {
    .image-wrapper {
        height: 350px !important;
        width: 350px !important;
    }

    .gallery-wrapper {
        grid-template: 350px/ 350px 350px !important;
        gap: 3vw !important;
    }
}

@media only screen and (max-width: 850px) {
    .image-wrapper {
        height: 400px !important;
        width: 400px !important;
    }

    .gallery-wrapper {
        grid-template: 400px/ 400px !important;
        gap: 4vw !important;
    }
}
