html {
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    overflow: scroll;
    transition: padding 100ms ease-in-out;
    scrollbar-color: crimson;
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

@font-face {
    font-family: 'Norwester';
    src: url(../fonts/norwester/norwester.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Railway';
    src: url(../fonts/railway/railway.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceHanSerifCN';
    src: url(../fonts/hanserif/SourceHanSerifCN-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

$main_colour: crimson;
$secondary_colour: white;

@import "./animation";

@import "./navigation";

@import "./information";

@import "./mobile";