@use "./partials/variables.scss" as *;
@use "./partials/foundation.scss";
@use "./partials/animation.scss";
@use "./partials/navigation.scss";
@use "./partials/decorations.scss";
@use "./partials/mobile.scss";

.grid {
    position: relative;
    display: grid;
    grid-template-areas:
        "a a"
        "b c";
    max-width: 70rem;
    width: 100%;
    padding: 3rem 4rem 15rem 4rem;
    gap: 1rem;
    justify-content: stretch;
    align-items: stretch;
    background: rgba(255, 0, 0, 0);
    box-sizing: border-box;
    margin: auto;
    border-radius: 1rem;
}

element {
    position: relative;
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border-width: 3px 1px;
    border-color: crimson;
    border-style: solid;
    border-radius: 10px;
}

.heading-area,
.text-area,
.links-area {
    background-color: rgba(255, 255, 255, 0.8);
}

.heading-area {
    grid-area: a;
    font-family: 'Norwester';
    padding: 24px 12px;
    font-size: 60px;
    color: black;
    box-sizing: border-box;
}

.text-area {
    grid-area: b;
    font-family: 'SourceHanSerifCN', 'Times New Roman';
    font-size: 20px;
    text-align: justify;
    color: black;
    padding: 1rem 0;
    box-sizing: border-box;

    p {
        padding: 0 2rem;
        text-indent: 25px;
    }

    .center {
        text-align: center !important;
        text-indent: 0;
    }
}

.emoticon {
    font-size: 36px;
    margin: auto;
}

.links-area {
    box-sizing: border-box;
}

hr {
    height: 2px;
    background: linear-gradient(to right, rgba(220, 20, 60, 0), crimson, rgba(220, 20, 60, 0));
    width: 90%;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sm-grid_1,
.sm-grid_2 {
    display: grid;
    width: 100%;
    padding: 1.1rem;
    gap: 0.75rem;
    box-sizing: border-box;

    div {

        :hover {
            background-color: $main_colour;
            border-color: black;
            border-radius: 30px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-width: 1px 1px 4px 1px;
            border-color: crimson;
            border-style: solid;
            border-radius: 10px;
            transition: $transition;

            :hover {
                background-color: transparent;

            }
        }
    }
}

.sm-grid_1 {
    grid-template-areas:
        "a" "b";
}

.sm-grid_2 {
    grid-template-areas:
        "a b"
    ;
}

.smg-a {
    grid-area: a;
}

.smg-b {
    grid-area: b;
}

.smg-c {
    grid-area: c;
}

.smg-d {
    grid-area: d;
}

.links {
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    height: 100%;
    padding: 1.5rem;
}

micro {
    font-size: 50%;
}