html {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: 'Norwester';
    src: url(../fonts/norwester/norwester.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Railway';
    src: url(../fonts/railway/Railway.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SourceHanSerifCN';
    src: url(../fonts/hanserif/SourceHanSerifCN-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}