@use "./variables.scss" as *;

@media only screen and (min-width: 1000px) {
    * {
        cursor: none;
    }
}

@media only screen and (max-width: 1000px) {

    .logo,
    .cursor,
    .title,
    .motto,
    .nav-left {
        display: none !important;
    }

    .navigation-wrapper,
    .navigation-buttons-wrapper {
        width: 100% !important;

        a {
            width: 100% !important;
        }
    }

    .text-area {
        font-size: 22px !important;
    }

    .grid {
        gap: 2rem !important;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
    }

    .sm-grid_1 {
        grid-template-areas:
            "a b" !important;
    }

    hr {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}