@use "./variables.scss" as *;

@media only screen and (min-width: 1000px) {
    * {
        cursor: none;
    }
}

@media only screen and (max-width: 1000px) {

    .logo {
        max-width: 0 !important;
    }

    .cursor {
        border: 0px !important;
        z-index: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }

    .navigation-wrapper .navigation-buttons-wrapper {
        width: 100% !important;
        margin-left: $distance + $width;

        a {
            width: 100% !important;
        }
    }


    .title {
        font-size: 0px !important;
    }

    .motto {
        font-size: 0px !important;
    }

    .nav-left {
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }

    .nav-right {
        width: 100%;
    }

    .text-area {
        font-size: 22px !important;
    }

    .grid {
        gap: 2rem !important;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
    }

    html {
        scrollbar-width: none !important;
        scrollbar-color: transparent transparent !important;
    }

    .sm-grid_1 {
        grid-template-areas:
            "a b" !important;
    }

    hr {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}