@media only screen and (max-width: 1100px) {

    .logo {
        max-width: 0 !important;
    }

    sm-grid_2 {
        grid-template-areas:
            "a b"
            //"c d"
            !important;
    }

    .cursor {
        border: 0px !important;
        z-index: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }
}

@media only screen and (max-width: 950px) {

    .navigation-wrapper .navigation-buttons-wrapper a {
        min-width: 42vw !important;
    }

    .title {
        font-size: 0px !important;
    }

    .motto {
        font-size: 0px !important;
    }

    .nav-left {
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }

    .nav-right {
        margin-right: auto;
    }

    .text-area {
        font-size: 24px !important;
    }

    grid {
        gap: 2rem !important;
        grid-template-areas:
            "a"
            "b"
            "c" !important;
    }

    html {
        scrollbar-width: none !important;
        scrollbar-color: transparent transparent !important;
    }

    sm-grid_1 {
        grid-template-areas:
            "a b";
    }

    hr {
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}