@use "./variables.scss" as *;

nav {
    position: relative;
    background-color: $main_colour;
    display: flex;
    align-items: center;
    padding: 0 $distance+$width;
    height: 115px;
    grid-gap: 85px;
}

.nav-left {
    font-size: 36px;

    .logo-button {
        display: flex;
        margin-right: 10px;
        margin-left: 15px;

        :hover {
            filter: opacity(0.6);
        }
    }

    .logo {
        max-width: 5.5rem;
        width: 100%;
    }

    .title {
        margin: auto;
        text-align: center;
    }

    .motto {
        margin: auto;
        font-family: 'Railway';
        font-size: 12px;
        text-align: center;
    }
}

.navigation-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Norwester';
    color: $secondary_colour;
    width: 100%;
    height: 100%;

    .navigation-buttons-wrapper {
        position: relative;
        display: grid;
        grid-template-areas:
            "a a";
        width: 100%;
        height: 100%;

        a {
            display: flex;
            justify-content: center;
            position: relative;
            text-decoration: inherit;
            transition: 200ms cubic-bezier(.65, .05, .36, 1);
            color: $secondary_colour;
            background-color: rgba($tetriary_colour, .075);
            min-width: 200px;

            .nav-active {
                filter: drop-shadow(0px 0px 2px rgba(orange, 1)) drop-shadow(0px 0px 25px rgba($secondary_colour, 0.5))
            }

        }

        a:hover {
            background-color: $secondary_colour;

            p {
                color: $tetriary_colour;
                filter: none;
            }
        }

    }
}

.nav-active {
    text-decoration: underline !important;
}

.nav-text {
    font-size: 48px;
    margin: auto;
}

footer {
    height: 48px;
    margin-top: 0;
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $main_colour;
    display: flex;
}