@use "./variables.scss" as *;

nav {
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $main_colour;
    display: flex;
    align-items: center;
    transition: 500ms ease-in-out;
}

.nav-left {
    margin-right: auto;
    padding-left: 5rem;

    .title {
        margin: auto;
        text-align: center;
        transition: $transition;
    }

    .motto {
        margin: auto;
        font-family: 'Railway';
        font-size: 12px;
        text-align: center;
        transition: $transition;
    }
}

.navigation-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Norwester';
    font-size: 36px;
    color: $secondary_colour;

    .logo-button {
        display: flex;
        margin-right: 0.8rem;

        :hover {
            filter: brightness(0.8);
        }
    }

    .logo {
        display: block;
        max-width: 5.5rem;
        width: 100%;
        transition: $transition;
    }

    .navigation-buttons-wrapper {
        position: relative;
        display: inline-grid;
        grid-template-areas:
            "a a";
        margin-right: $distance + $width;

        a {
            display: flex;
            justify-content: center;
            position: relative;
            color: inherit;
            text-decoration: none;
            min-width: 15rem;
            width: 15vw;
            transition: 100ms cubic-bezier(.65, .05, .36, 1);
        }

        a:hover {
            background-color: $secondary_colour;
            color: $main_colour;
        }
    }
}

.text-underline {
    text-decoration: underline !important;
}

footer {
    height: 48px;
    margin-top: 0;
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $main_colour;
    display: flex;
}