$transition: 175ms cubic-bezier(.65, .05, .36, 1);
$main_colour: crimson;
$secondary_colour: white;
$tetriary_colour: black;

$distance: 1.9rem;
$width: .75rem;
$margin: 1.5rem;

$cursor: 11px;
$cursor-b: 80px;